.find {
  margin-bottom: 48px;
  &-title {
    @include fontLetter(18px, 500, 26px);
  }
  &-note {
    @include fontLetter(14px, 500, 18px);
    margin-bottom: 48px;
    color: #9a9a9a;
  }
  &-slide {
    text-align: center;
    position: relative;
    .owl-nav {
      button {
        background-color: #fff !important;
        .fa-angle-left,
        .fa-angle-right {
          position: absolute;
          background-color: #f5f6f8;
          padding: 16px 20px;
          border-radius: 50%;
        }
        .fa-angle-left {
          top: 20%;
          left: -80px;
        }
        .fa-angle-right {
          top: 20%;
          right: -80px;
        }
      }
    }
  }
  &-item {
    transition: 0.4s;
    &:hover {
      .find {
        &-text {
          transition: 0.4s;
          color: $primary-color;
        }
        &-image {
          @include hoverEffect(translateY(-0.5px));
        }
      }
    }
  }
  &-image {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    transition: 0.4s;

    img {
      padding: 8px;
    }
  }
  &-text {
    padding-top: 24px;
    @include fontLetter(14px, 500, 18px);
    color: $font-main;
  }
}
// mobile
